[Unit]
Description=Pi Network
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/pi-network /home/pi/pi-network/internet.py

[Install]
WantedBy=multi-user.target
